<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="UseDefaultCredentials" value="false"/>
    <add key="Credentials" value="sendermail589"/>
    <add key="Password" value=""/>
    <add key="EnableSsl" value="true"/>
    <add key="Port" value="587"/>
    <add key="dir" value="C:\Loggs"/>
  </appSettings>
</configuration>